<div class="resume_card">
	<div class="resume_header d-flex align-middle">
		<img src="<%= asset_path 'profile-icon.svg' %>" class="img-fluid">
		<p class="mb-0">Highlights</p>
		<% if current_user.id == @user.id %>
			<img src="<%= asset_path 'edit-icon.svg' %>" class="img-fluid ml-auto" >
		<% end %>
	</div>

	<div class="resume_content">
		<a href="#" class="badge badge-grey">React-Ninja</a>
	</div>
</div>